.hero {
    text-align: center;
    margin-top: 60px;
  }
  
  .stn {
    font-size: 3rem;
    display: block;
    letter-spacing: 8px;
    font-family: 'Playfair Display', serif;
  }
  
  .winery {
   font-family: "Pinyon Script", cursive;
    font-size: 9rem;
    font-weight: 400;
    display: block;
    margin-top: -20px;
    line-height: 1;
    font-style: normal;
    color: white;
  }
  
  .subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
  }
  
  .hero-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
   
  }
  
  .btn-red, .btn-outline {
    padding: 12px 32px;
    font-size: 1rem;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    border: 1px solid #a10d0d;
     cursor: pointer;
    transition: background 0.2s, color 0.2s;
  }
  
  .btn-red {
    background: #a10d0d;
    color: #fff;
  }
  
  .btn-red:hover {
    background: #d11c1c;
  }
  
  .btn-outline {
    background: transparent;
    color: #fff;
  }
  
  .btn-outline:hover {
    background: #fff;
    color: #a10d0d;
  }

@media (max-width: 600px) {
  .winery {
    font-size: 2.8rem;
    margin-top: 0;
  }
  .stn {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
  .hero {
    margin-top: 30px;
    padding: 0 2vw;
  }
  .hero-buttons {
    gap: 8px;
    flex-direction: column;
    align-items: center;
  }
  .btn-red, .btn-outline {
    padding: 10px 0;
    width: 90vw;
    max-width: 300px;
    font-size: 1rem;
    margin-bottom: 6px;
  }
}